body {
  font-family: "Lora";
}

h1 {
  font-weight: 900;
  font-size: 2.5rem;
}

h4 {
  font-weight: 700;
  font-size: 2.5rem;
  color: #D2E4EE;
}

h3 {
  font-weight: 700;
}

h5 {
  font-weight: 700;
  font-size: 1.2rem;
  padding-bottom: 2%;
}

footer {
  background-color: #374358;
  color: #fff;
  font-size: .8rem;
  padding: 3% 0 9%;
  text-align: center;
}

.calculate-button {
  margin: 5% 0;
  text-align: center;
}
.top-icon {
  font-size: 8rem;
  transform: rotate(20deg);
  text-align: right;
}

#header {
  background-color: #EE7658;
  padding: 5% 8% 5%;
  color: #fff;
  font-family: "Raleway";
}

#calculator {
  background-color: #D2E4EE;
  padding: 3% 7%;
  color: #293241;
}

#result-section {
  background-color: #EE7658;
  padding: 3% 12%;
  text-align: center;
  color: #fff;
}

.small-screen {
  display: none;
}

/* Responsive CSS for mobile */
@media (max-width: 575px) {
  .top-icon {
    font-size: 6rem;
    transform: rotate(0);
    margin-top: 3%
  }

  #header {
    text-align: center;
  }

  h3, h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: .8rem;
  }

  .calculate-button {
    margin: 5% 0;
    text-align: center;
  }

  #calculator {
    padding: 3% 3%;
  }
  
  #result-section {
    padding: 3% 6%;
  }

  .large-screen {
    display: none;
  }

  .small-screen {
    display: block;
  }
}
